[paths]
source =
   src/pandasutils
   */site-packages/pandasutils

[run]
branch = true
source =
    pandasutils
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
